// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference
$primary: #15376D;
$primary-light: #f6decd;
$light: #f6decd;
$dark: #273F2F;
$white: #FFEFF4;
$gray: #528dc5;